@font-face {
  font-family: 'Inter';
  src: local('MyFont'), url(https://fonts.googleapis.com/css?family=Inter);
}
/* GENERAL */
.title{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
body {
  font-family: 'Inter';
  user-select: none;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: 1px solid #5e5e5e;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}
button:hover {
  background-color: #e9e8e8;
}
button.active{
  background-color: #979797;
  pointer-events: none;
}
button svg{
  color: #5e5e5e;
  pointer-events: none;
  font-size: 30px !important;
}
.icon_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  height: 36px;
  padding: 0px 16px 0px;
}
.icon_button:disabled {
  background-color: #ababab;
  box-shadow: none;
  cursor: not-allowed;
}
.icon_button:disabled:hover{
  background-color: #ababab;
}
.icon_button_title {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.basic_border_box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #262424;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px 0 10px 0;
}
.basic_border_box_title {
  position: absolute;
  display: block;
  top: -6px;
  left: 25px;
  padding: 0 5px 0 5px;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  color: #5e5e5e;
  text-transform: uppercase;
}
.basic_border_box_shortcut {
  position: absolute;
  top: -10px;
  right: 25px;
  padding: 2px 5px 2px 5px;
  background-color: #5e5e5e;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
.basic_border_box_content{
  display: flex;
  flex-direction: row;
}
.table_container{
  display: flex;
  flex-direction: column;
}
.table_header .basic_border_box_content{
  justify-content: space-between;
  align-items: center;
  height:26px;
  padding-inline: 30px;
  width: 740px;
}
.table_header_element{
  font-size: 16px;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  display: block;
  background: #d6d6d6;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  display: none;
}
.table_entry_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 25px;
  height: 52px;
  border-bottom: 1px solid #ABABAB;
}
.text_entry{
  font-size: 16px;
}
.status_entry {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.status_entry_indicator{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 10px;
}
.status_entry_description{
  font-size: 16px;
  text-transform: capitalize;
}
.icon_entry{
  position: relative;
  display: flex;
  justify-content: center;
}
.icon_entry_content {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  width: inherit;
  width: 300px;
  top: -5px;
  left: 140px;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: #5e5e5e;
  color: #fff;
  text-align: left;
  padding: 5px 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  z-index: 1;
}
.icon_entry_content::after {
  content: " ";
  position: absolute;
  top: 10px;  /* At the top of the tooltip */
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #5e5e5e transparent transparent ;
}
.icon_entry:hover .icon_entry_content {
  visibility: visible;
}
.icon_entry.active svg{
  color: #5E5E5E;
}
.icon_entry svg{
  color: #ABABAB;
}
.action_entry{
  height: 24px;
  font-size: 14px;
  text-transform: uppercase;
}
.action_entry_link{
  text-decoration: none;
}
/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}
.menu_container {    
  width: 50px;
  height: 50px;
  padding: 15px;
  padding-left: 20px;
}
.title_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 10px;
}
.menu_card_backdrop{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #00000010
}
.menu_card_container{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  left: 28px;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: #d9d9d9;
  z-index: 1;
}
.menue_card_item_container{
  position: relative;
  width: 100%;
  height: 50px;
}
.menu_card_item{
  position: relative;
  justify-content: start;
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border-radius: 0;
  border-bottom: solid 1px #9c9c9c;
  font-size: 16px;
  background-color: #d9d9d9;
}
#menu_card_item_1{
  border-radius: 10px 10px 0 0;
}
/* OVERVIEW */
.overview_site_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#overview_contatiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 800px;
}
.profile_card_container {
  margin-bottom: 40px;
}
.profile_card_div{
  height: 90px;
}
.progress_bar_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 590px;
}
.progress_bar{
  display: flex;
  position: relative;
  flex-direction: row;
  height: 16px;
  width: 560px;
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 9;
}
.progress_bar_element {
  position: absolute;
  height: 16px;
  border-radius: 5px;
}
.progress_count_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 100%;
}
.progress_count_element{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.progress_count_number{
  display: flex;
  justify-content: end;
  width: 35px;
  padding-right: 10px;
  font-size: 16px;
  text-align: left;
  color: #5e5e5e;
}
.progress_count_indicator{
  width: 16px;
  height: 16px;
  margin: 5px;
  border-radius: 8px;
}
.progress_count_description {
  font-size: 12px;
  padding-left: 5px;
  font-weight: bold;
  color: #5e5e5e
}
#progress_count_element_0 .progress_count_number {
  font-size: 24px;
}
.start_annotation_button {
  position: absolute;
  bottom: -18px;
  background-color: #339649;
  box-shadow:0 0 4px #339649;
  border: none
}
.start_annotation_button:hover{
  background-color: #3cb055;
}
.start_annotation_button * {
  color: #fff;
}

/* Overview TABLE */
.overview_table{
  width: 800px;
}
.table_content{
  width: 800px;
  height: 400px;
  overflow-x: auto;
}

/* ANNOTATION */
.annotation_site_container {
  display: flex;
  flex-direction: column;
}
.annotation_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 100%;
}
.work_area_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
}
.tools_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 200px;
  height: 100%;
  padding: 10px;
}
.mark_erase_container {
  border-radius: 10px;
  background-color: #bababa;
  margin: 0 10px 10px 10px;
}
.mark_erase_container:hover{
  background-color: #cbcbcb;
}
.mark_erase_container:active{
  background-color: #979797;
}
.mark_button_icon {
  color: white;
}
.erase_button_icon {
  color: white; 
}
.reset_button_container {
  margin: 0 10px 10px 10px;
}
.reset_button_icon {
  color: white;
}
.annotation_text_container{
  width: 650px;
  padding: 10px;
}
.annotation_text{
  font-size: 20px;
  line-height: 30px;
  height: 380px;
  overflow-x: auto;
}
.annotation_text span {
  user-select: text;
}
.annotation_text .marked.info{
  background-color: #00ff2a89;
}
.annotation_text .marked.info + .filler:has( + .marked) {
  background-color: #00ff2a89;
}
.annotation_text .marked.judge{
  background-color: #ffe60089;
}
.annotation_text .marked.judge + .filler:has( + .marked) {
  background-color: #ffe60089;
}
.annotation_text .marked.backgr{
  background-color: #a200ff89;
}
.annotation_text .marked.backgr + .filler:has( + .marked) {
  background-color: #a200ff89;
}
.annotation_text .text:not(.marked) + .filler + .marked{
  border-radius: 5px 0 0 5px;
}
.annotation_text .marked:not(:has(+ .filler + .marked)){
  border-radius: 0 5px 5px 0;
}
.annotation_text .text:not(.marked) + .filler + .marked:not(:has(+ .filler + .marked)){
  border-radius: 5px
}
.annotation_text .marked + .filler:has( + .marked) {
  background-color: #cacaca89;
}
.annotation_text .marked + .filler:has( + .reference + .filler + .marked) {
  border-radius: 0 5px 5px 0;
} 
.annotation_text .marked + .filler + .reference + .filler:has(+ .marked) {
  border-radius: 5px 0 0 5px;
}
.annotation_text .reference{
  background-color: #004cff50 !important;
  border-radius: 5px;
  cursor: pointer;
}
.annotation_text .target{
  background-color: #ff000089 !important;
  border-radius: 5px;
}


.info_container {
  display:flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
}
.navigation_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-top: 35px;
}
.help_button_container {
  padding: 10px;
}
.help_button_icon {
  color: white;
}
.prev_skip_button_container{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.prev_button {
  width: 120px;
  border-radius: 10px 0 0 10px;
  margin-right: 2px;
}
.prev_button_icon {
  color: white;
  font-size: 40px !important;
}
.prev_button_label{
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.skip_button {
  width: 120px;
  border-radius: 0 10px 10px 0;
  margin-left: 2px;
}
.skip_button_laber{
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.skip_button_icon{
  color: white;
  font-size: 40px !important;
}
.submit_button_container{
  padding: 10px;
}
.submit_button{
  width: 75px;
  height: 75px;
}
.submit_button_icon{
  color: white;
  font-size: 50px !important;
}

/* INFO CARD */
.info_card {
  display: none;
  flex-direction: column;
  width: 350px;
  height: 210px;
  background-color: #dbdbdb;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  overflow-x: auto;
}
.info_card.active {
  display: flex;
}
.info_card_navigation_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 20px;
}
.info_button{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.info_button_icon{
  font-size: 15px !important;
}
.info_content_container{
  padding: 0px 15px 10px 10px;
}
.info_tilte{
  font-size: 16px;
  font-weight: bold;
}
.info_meta_container {
  margin-bottom: 10px;
}
.info_meta{
  font-size: 11px;
}
.info_abstract {
  font-size: 13px;
  text-align: justify;
}

/* COMMENT SECTION */
.comment_section {
  display: none;
  flex-direction: column;
  width: 350px;
  height: 130px;
  background-color: #dbdbdb;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  overflow-x: auto;
}
.comment_section.active {
  display: flex;
}
.comment_section_navigation_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  padding: 0 0 5px 10px;

}
.comment_tilte{
  font-size: 16px;
  font-weight: bold;
}
.comment_button{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.comment_button_icon{
  font-size: 15px !important;
}
.comment_content_container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 15px 10px 10px;
}

.comment_field_container{
  flex-grow: 1;
}
.comment_field {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  border-radius: 10px;
  resize: none;
}


/* LOGIN */

.login_page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
  background-color: #e6e6e6;
  padding: 40px;
  border-radius: 10px;
}
.login_input_container{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 200px;
}
.login_input_container label {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.login_input_container input {
  height: 30px;
  flex-grow: 1;
  border: solid #4f4f4f8d 2px;
  border-radius: 10px;
  padding-left: 5px;
}
.login_button {
  height: 40px;
  width: 200px;
  margin-top: 20px;
}
/* GUIDELINES */
.guidelines_page {
  display: flex;
  justify-content: center;
}
.guidelines_container {
  width: 800px;
  padding: 20px;
}
.guideline_element_container{
  position:absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.guideline_elment_backdrop{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000030;
  overflow-x: hidden;
  z-index: 1;
}
.guideline_element{
  height: 550px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px  #00000030 ;
  z-index: 2;
}
.guideline_element_header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
}
.guideline_element_content_container{
  height: 500px;
  overflow-x: auto;
}

/* ERROR */
.error_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 100px;
  height: 50px;
  padding: 0 20px 0 20px;
  background-color: red;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 4px red;
  z-index: 999;
}

/* REVIEW */
.review_text_container{
  width: 550px;
  padding: 10px;
}

.comments_container{
  display: flex;
  flex-direction: column;
}
.comments_container .comment_section{
  display: flex;
}
.comments_container .comment_section.active{
  box-shadow: 0 0 8px #2d88ff;
}

.comments_container textarea{
  pointer-events: none;
}

